<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <% include partials/library.ejs %>
</head>
<body>

  <div id="container">

    <div class="header">
      <h1>Contact</h1>
    </div>
  <% include partials/nav.ejs %>
<!-- -- -->
    <div class="row">
        <div class="card">
          <h3>Contact Me</h3>
          <p>
            <a href="https://www.linkedin.com/in/ziaul-choudhury-14a092106" target="_blank"> <img src="images/Linkedin.png" style='height: 5%; width: 5%; object-fit: contain' alt="Linkedin" title="Linkedin"></a>&nbsp;
            
            <a href="https://github.com/zchy" target="_blank" alt="Github" title="Github"> <img src="images/Github.png" style='height: 5%; width: 5%; object-fit: contain'> </a>&nbsp;

            <a href="https://cunyinternship-oaa-csm.symplicity.com/profiles/ziaul.choudhury" target="_blank" alt="CUNY symplicity" title="CUNY symplicity"> <img src="images/symc.png" style='height: 5%; width: 5%; object-fit: contain'> </a>&nbsp;
          </p>
          <p>Phone: <em>347-XXX-XXXX</em></p>
          <p>Email: <em>XXXXX999@gmail.com</em></p>

        </div>
    </div>

    <div class="footer">
      <h4>Crafted by Ziaul Choudhury &copy;.</h4>
    </div>

  </div>
</body>
</html>