<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>List View</title>
    <% include partials/library.ejs %>
	</head>
	<body>
    <div id="container">
      <h1 class="page-header">Success, post added.</h1>
      <h3>Go back to--></h3>
      <% include partials/nav.ejs %>
    </div>
	</body>
</html>
